* {
  margin: 0;
  padding: 0;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tree {
  display: flex;
  justify-content: center;
}

.tree ul {
  padding-top: 30px;
  position: relative;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 30px 5px 0 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid rgb(75, 75, 75);
  width: 50%;
  height: 30px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid rgb(75, 75, 75);
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid rgb(75, 75, 75);
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid rgb(75, 75, 75);
  width: 0;
  height: 30px;
}

.tree li a {
  border: 1px solid rgb(75, 75, 75);
  padding: 10px 15px;
  width: 100px;
  height: 100px;
  border-radius: 90px 0;
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li a:hover,
.tree li a:hover + ul li a {
  background: #224a41;
  color: rgb(218, 218, 218);
  border: 3px solid #285a4f;
}

.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
  border-color: #000000;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.item-name {
  padding-right: 15px;
  font-size: medium;
}

.item-child-number {
  border-left: 1px solid rgb(54, 54, 54);
  padding-left: 10px;
  font-size: medium;
}

.tree li a:hover,
.tree li a:hover .item-child-number-hover {
  border-color: rgb(218, 218, 218);
}
